# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Время выполнения: 0.0907 сек
Пиковая память: 1302.99 KB

Время выполнения: 0.0820 сек
Пиковая память: 808.26 KB

Время выполнения: 0.2802 сек
Пиковая память: 631.09 KB